:root{
    --historia: blue;
    --Valen: red;
    --Inglés:green;
    --Mates:yellow;
    --Bio:orange;
    --tecno:rgba(243, 226, 179, 0.753);
    --FiQ:turquoise;
    --infor:#b824bf;
    --ef:#be609f;
    --tutoria:#5a5608;
    --valors:#2c8767;
    --caste:#631e08;
    --dias:#1ec8df
}

.historia{
    background-color: var(--historia);
    width: 50px;
    color: white;
}
.Valen{
    background-color: var(--Valen);
    width: 50px;
    color: white
}
.Inglés{
    background-color: var(--Inglés);
    width: 50px;
    color: white
}
.Mates{
    background-color:var(--Mates) ;
    width: 50px;
    
}
.Bio{
    background-color:var(--Bio);
    color: white
}
.tecno{
    background-color: var(--tecno);
    width: 50px;

}
.FiQ{
    background-color: var(--FiQ);
    width: 50px;
    color: white
}
.infor{
    background-color:var(--infor);
    width: 50px;
    color: white
}
.ef{
    background-color: var(--ef);
    color: white
}
.tutoria{
    background-color: var(--tutoria);
    color: white
}
.valors{
    background-color: var(--valors);
    color: white
}
.caste{
    background-color: var(--caste);
    color: white
}
.dias{
    background-color: var(--dias);
}
table{
    margin: 20px auto;
}
body{
    text-align: center;
}
